body {
    background-color: #b0f6a5;
}

input, select {
    font-size: 80%;
}

#principio {
    display: grid;
    grid-template-areas:
        'titulo titulo titulo logo';
    grid-gap: 5px;
    padding: 10px;
}

h1 {
    text-align: center;
}

#logo {
    grid-area: logo;
    text-align: right;
}

#titulo {
    grid-area: titulo;
    color: #f9631e;
}

p {
    text-align: center;
    font-size: 20px;
}